<p>
  <strong>Title:</strong>
  <%= @run.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @run.description %>
</p>

<p>
  <strong>ID</strong>
  <%= @run.id%>
</p>

<p>
  <strong>CSV file</strong>
  <%= link_to 'Download CSV', "/runs/#{@run.id}/download"%>
</p>

<%= render 'results/results', results: @results, run: @run %>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', experiment_path(@run.experiment) %>
