<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @run.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @run.description %>
</p>

<p>
  <strong>Run:</strong>
  <%= @experiment.id%>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', run_path %>
